:root {
    --g-color-border: orange;  
}

div {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
}

div::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: .5rem solid transparent;
}

@media screen and (min-width:960px) {
    div::before {
        border-color: var(--g-color-border);
    }
}